<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>org.robofab.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>NULL</string>
		<string>CR</string>
		<string>uni0964</string>
		<string>uni0965</string>
		<string>u0b82</string>
		<string>u0B83</string>
		<string>u0B85</string>
		<string>u0B86</string>
		<string>u0B87</string>
		<string>u0B88</string>
		<string>u0B89</string>
		<string>u0B8A</string>
		<string>u0B8E</string>
		<string>u0B8F</string>
		<string>u0B90</string>
		<string>u0B92</string>
		<string>u0B93</string>
		<string>u0B94</string>
		<string>u0B95</string>
		<string>u0B99</string>
		<string>u0B9A</string>
		<string>u0B9C</string>
		<string>u0B9E</string>
		<string>u0B9F</string>
		<string>u0BA3</string>
		<string>u0BA4</string>
		<string>u0BA8</string>
		<string>u0BA9</string>
		<string>u0BAA</string>
		<string>u0BAE</string>
		<string>u0BAF</string>
		<string>u0BB0</string>
		<string>u0BB1</string>
		<string>u0BB2</string>
		<string>u0BB3</string>
		<string>u0BB4</string>
		<string>u0BB5</string>
		<string>u0BB6</string>
		<string>u0BB7</string>
		<string>u0BB8</string>
		<string>u0BB9</string>
		<string>u0BBE</string>
		<string>u0BBF</string>
		<string>u0BC0</string>
		<string>u0BC1</string>
		<string>u0BC2</string>
		<string>u0BC6</string>
		<string>u0BC7</string>
		<string>u0BC8</string>
		<string>u0BCA</string>
		<string>u0BCB</string>
		<string>u0BCC</string>
		<string>u0BCD</string>
		<string>uni0BD0</string>
		<string>u0BD7</string>
		<string>u0BE6</string>
		<string>u0BE7</string>
		<string>u0BE8</string>
		<string>u0BE9</string>
		<string>u0BEA</string>
		<string>u0BEB</string>
		<string>u0BEC</string>
		<string>u0BED</string>
		<string>u0BEE</string>
		<string>u0BEF</string>
		<string>u0BF0</string>
		<string>u0BF1</string>
		<string>u0BF2</string>
		<string>u0BF3</string>
		<string>u0BF4</string>
		<string>u0BF5</string>
		<string>u0BF6</string>
		<string>u0BF7</string>
		<string>u0BF8</string>
		<string>u0BF9</string>
		<string>u0BFA</string>
		<string>afii61664</string>
		<string>afii301</string>
		<string>uni20B9</string>
		<string>uni25CC</string>
		<string>u0B95_u0BBF.abvs</string>
		<string>u0B99_u0BBF.abvs</string>
		<string>u0B9A_u0BBF.abvs</string>
		<string>u0B9C_u0BBF.abvs</string>
		<string>u0B9E_u0BBF.abvs</string>
		<string>u0B9F_u0BBF.abvs</string>
		<string>u0BA3_u0BBF.abvs</string>
		<string>u0BA4_u0BBF.abvs</string>
		<string>u0BA8_u0BBF.abvs</string>
		<string>u0BA9_u0BBF.abvs</string>
		<string>u0BAA_u0BBF.abvs</string>
		<string>u0BAE_u0BBF.abvs</string>
		<string>u0BAF_u0BBF.abvs</string>
		<string>u0BB0_u0BBF.abvs</string>
		<string>u0BB1_u0BBF.abvs</string>
		<string>u0BB2_u0BBF.abvs</string>
		<string>u0BB3_u0BBF.abvs</string>
		<string>u0BB4_u0BBF.abvs</string>
		<string>u0BB5_u0BBF.abvs</string>
		<string>u0BB7_u0BBF.abvs</string>
		<string>u0BB8_u0BBF.abvs</string>
		<string>u0BB9_u0BBF.abvs</string>
		<string>u0B95_u0BC0.abvs</string>
		<string>u0B99_u0BC0.abvs</string>
		<string>u0B9A_u0BC0.abvs</string>
		<string>u0B9C_u0BC0.abvs</string>
		<string>u0B9E_u0BC0.abvs</string>
		<string>u0B9F_u0BC0.abvs</string>
		<string>u0BA3_u0BC0.abvs</string>
		<string>u0BA4_u0BC0.abvs</string>
		<string>u0BA8_u0BC0.abvs</string>
		<string>u0BA9_u0BC0.abvs</string>
		<string>u0BAA_u0BC0.abvs</string>
		<string>u0BAE_u0BC0.abvs</string>
		<string>u0BAF_u0BC0.abvs</string>
		<string>u0BB0_u0BC0.abvs</string>
		<string>u0BB1_u0BC0.abvs</string>
		<string>u0BB2_u0BC0.abvs</string>
		<string>u0BB3_u0BC0.abvs</string>
		<string>u0BB4_u0BC0.abvs</string>
		<string>u0BB5_u0BC0.abvs</string>
		<string>u0BB7_u0BC0.abvs</string>
		<string>u0BB8_u0BC0.abvs</string>
		<string>u0BB9_u0BC0.abvs</string>
		<string>u0B95_u0BC1.blws</string>
		<string>u0B99_u0BC1.blws</string>
		<string>u0B9A_u0BC1.blws</string>
		<string>u0B9E_u0BC1.blws</string>
		<string>u0B9F_u0BC1.blws</string>
		<string>u0BA3_u0BC1.blws</string>
		<string>u0BA4_u0BC1.blws</string>
		<string>u0BA8_u0BC1.blws</string>
		<string>u0BA9_u0BC1.blws</string>
		<string>u0BAA_u0BC1.blws</string>
		<string>u0BAE_u0BC1.blws</string>
		<string>u0BAF_u0BC1.blws</string>
		<string>u0BB0_u0BC1.blws</string>
		<string>u0BB1_u0BC1.blws</string>
		<string>u0BB2_u0BC1.blws</string>
		<string>u0BB3_u0BC1.blws</string>
		<string>u0BB4_u0BC1.blws</string>
		<string>u0BB5_u0BC1.blws</string>
		<string>u0B95_u0BC2.blws</string>
		<string>u0B99_u0BC2.blws</string>
		<string>u0B9A_u0BC2.blws</string>
		<string>u0B9E_u0BC2.blws</string>
		<string>u0B9F_u0BC2.blws</string>
		<string>u0BA3_u0BC2.blws</string>
		<string>u0BA4_u0BC2.blws</string>
		<string>u0BA8_u0BC2.blws</string>
		<string>u0BA9_u0BC2.blws</string>
		<string>u0BAA_u0BC2.blws</string>
		<string>u0BAE_u0BC2.blws</string>
		<string>u0BAF_u0BC2.blws</string>
		<string>u0BB0_u0BC2.blws</string>
		<string>u0BB1_u0BC2.blws</string>
		<string>u0BB2_u0BC2.blws</string>
		<string>u0BB3_u0BC2.blws</string>
		<string>u0BB4_u0BC2.blws</string>
		<string>u0BB5_u0BC2.blws</string>
		<string>u0B95_u0BCD_u0BB7.akhn</string>
		<string>u0B95_u0BCD_u0BB7.akhn_u0BBF.abvs</string>
		<string>u0B95_u0BCD_u0BB7.akhn_u0BC0.abvs</string>
		<string>u0BB6_u0BCD.half_u0BB0_u0BC0.abvs</string>
		<string>u0B95_u0BCD.half</string>
		<string>u0B99_u0BCD.half</string>
		<string>u0B9A_u0BCD.half</string>
		<string>u0B9C_u0BCD.half</string>
		<string>u0B9E_u0BCD.half</string>
		<string>u0B9F_u0BCD.half</string>
		<string>u0BA3_u0BCD.half</string>
		<string>u0BA4_u0BCD.half</string>
		<string>u0BA8_u0BCD.half</string>
		<string>u0BA9_u0BCD.half</string>
		<string>u0BAA_u0BCD.half</string>
		<string>u0BAE_u0BCD.half</string>
		<string>u0BAF_u0BCD.half</string>
		<string>u0BB0_u0BCD.half</string>
		<string>u0BB1_u0BCD.half</string>
		<string>u0BB2_u0BCD.half</string>
		<string>u0BB3_u0BCD.half</string>
		<string>u0BB4_u0BCD.half</string>
		<string>u0BB5_u0BCD.half</string>
		<string>u0BB7_u0BCD.half</string>
		<string>u0BB8_u0BCD.half</string>
		<string>u0BB9_u0BCD.half</string>
		<string>u0B95_u0BCD_u0BB7.akhn_u0BCD.half</string>
		<string>u0BB6_u0BCD.half</string>
		<string>u0BB6_u0BC0.half</string>
		<string>u0BB6_u0BBF.abvs</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>uni00A0</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>uni00AD</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>acute</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>Eogonek</string>
		<string>dotlessi</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>OE</string>
		<string>oe</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>Ydieresis</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>florin</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>endash</string>
		<string>emdash</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotedblbase</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>exclamdbl</string>
		<string>fraction</string>
		<string>foursuperior</string>
		<string>Euro</string>
		<string>trademark</string>
		<string>minus</string>
		<string>division</string>
		<string>fi</string>
		<string>fl</string>
		<string>space</string>
	</array>
</dict>
</plist>
