<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>class0</key>
	<array>
		<string>u0B85</string>
		<string>u0B86</string>
		<string>u0B87</string>
		<string>u0B88</string>
		<string>u0B89</string>
		<string>u0B8A</string>
		<string>u0B8E</string>
		<string>u0B8F</string>
		<string>u0B90</string>
		<string>u0B92</string>
		<string>u0B93</string>
		<string>u0B94</string>
		<string>u0B95</string>
		<string>u0B99</string>
		<string>u0B9A</string>
		<string>u0B9C</string>
		<string>u0B9E</string>
		<string>u0B9F</string>
		<string>u0BA3</string>
		<string>u0BA4</string>
		<string>u0BA8</string>
		<string>u0BA9</string>
		<string>u0BAA</string>
		<string>u0BAE</string>
		<string>u0BAF</string>
		<string>u0BB0</string>
		<string>u0BB1</string>
		<string>u0BB2</string>
		<string>u0BB3</string>
		<string>u0BB4</string>
		<string>u0BB5</string>
		<string>u0BB6</string>
		<string>u0BB7</string>
		<string>u0BB8</string>
		<string>u0BB9</string>
		<string>u0B95_u0BCD_u0BB7.akhn</string>
	</array>
</dict>
</plist>
